---
export interface Props {
  topText: string;
  bottomText: string;
}

const { topText, bottomText } = Astro.props;
---

<div
  class="flex flex-col items-center justify-center my-12 md:my-14"
  role="banner"
  data-aos="fade-down"
  data-aos-delay="100"
  data-aos-once="true"
>
  <div class="flex items-center space-x-5">
    <!-- quiero agregar dos lineas ----- logo ----- asi  -->
    <div class="w-20 h-0.5 bg-white opacity-50 transform lg:w-24"></div>
    <img
      src="/icons/isotipo.svg"
      alt="logo del Condominio El Olivar"
      class="w-10 h-10 md:w-14 md:h-14 lg:w-20 lg:h-20 animate-float transition-transform duration-300 hover:scale-125"
      role="presentation"
      aria-hidden="true"
      data-aos="fade-right"
      data-aos-delay="200"
      data-aos-once="true"
    />
    <div class="w-20 h-0.5 bg-white opacity-50 transform lg:w-24"></div>
  </div>

  <hgroup
    class="text-center flex space-x-2"
    data-aos="zoom-in"
    data-aos-delay="300"
    data-aos-once="true"
  >
    <p
      class="text-white text-3xl md:text-4xl lg:text-5xl transition-all duration-500 hover:scale-105"
    >
      {topText}
    </p>
    <h2
      class="text-primary text-3xl md:text-4xl lg:text-5xl font-black transition-all duration-500 hover:scale-105"
    >
      {bottomText}
    </h2>
  </hgroup>
</div>
